html {
  font-size: 100%;
}
/*
body{
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(253, 159, 248, 0.5), rgba(111, 240, 245,0.5)),
  url(https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/evolving_google_identity_2x1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* Giống với background-clip để coi nó lấy background từ khúc nào content hay padding 
  background-origin: content-box;
  /* background-position: top 20px(trục x) right 20px(trục y); 
}
*/
.abas {
  font-size: 40px;
}
div p {
  color: green;
  font-size: 0.5em;
}
p {
  font-size: 1rem;
}
.paragraph.p1 {
  color: red;
}
:root {
  --text-color: violet;
}
h2 {
  margin-left: 20px;
  color: var(--text-color);
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
}
.abc {
  display: inline-block;
}
.box {
  width: 100%;
  height: 120px;
  background: rgb(27, 202, 202, 0.5);
  z-index: -1;
}
.box::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
}
.box::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.boxx {
  width: 60px;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Dồn tất cả về bên trái */
  /* float: left; */
}

.box1 {
  background-color: aquamarine;
}

.box2 {
  background-color: antiquewhite;
}

.box3 {
  background-color: cornflowerblue;
  /* padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px; */
  padding: 5px;
}

.box-sizing{
  width: 100%;
  height: 700px;
  background-color:cyan;
  padding: 20px;
  box-sizing: border-box;
  border: 10px dashed seagreen;
}

li:nth-of-type(2){
  color:violet;
}
li:nth-of-type(3){
  color:aqua;
}
li:nth-child(1){
  color:blue
}